@keyframes moveAndStopDiv1 {
    0% {
      transform: translateX(-100%);
    }
    40%, 60% {
      transform: translateX(0); /* Center Position */
    }
    100% {
      transform: translateX(-100%); /* Loop back */
    }
  }
  
  @keyframes moveAndStopDiv2 {
    0% {
      transform: translateX(100%);
    }
    40%, 60% {
      transform: translateX(0); /* Center Position */
    }
    100% {
      transform: translateX(100%); /* Loop back */
    }
  }
  
  .animate-div1 {
    animation: moveAndStopDiv1 8s ease-in-out infinite;
  }
  
  .animate-div2 {
    animation: moveAndStopDiv2 8s ease-in-out infinite;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 1536px) { /* 2XL */
    .animate-div1,
    .animate-div2 {
      animation-duration: 7s;
    }
  }
  
  @media (max-width: 1280px) { /* XL */
    .animate-div1,
    .animate-div2 {
      animation-duration: 6s;
    }
  }
  
  @media (max-width: 1024px) { /* LG */
    .animate-div1,
    .animate-div2 {
      animation-duration: 5s;
    }
  }
  
  @media (max-width: 768px) { /* MD */
    .animate-div1,
    .animate-div2 {
      animation-duration: 4.5s;
    }
  }
  
  @media (max-width: 640px) { /* SM */
    .animate-div1,
    .animate-div2 {
      animation-duration: 4s;
    }
  }
  
  @media (max-width: 480px) { /* Mobile */
    .animate-div1,
    .animate-div2 {
      animation-duration: 3.5s;
    }
  }
  
  @media (max-width: 360px) { /* Mobile Desktop */
    .animate-div1,
    .animate-div2 {
      animation-duration: 3s;
    }
  }
  
  @media (max-width: 320px) { /* Mobile Tablet */
    .animate-div1,
    .animate-div2 {
      animation-duration: 2.5s;
    }
  }
  